.simpleslider {
   margin-bottom: 20px;
   /* background-color: black; */
   width: 500px;
   margin: 20px auto;
}
.simpleslider img {
   width: 500px;
   height: 300px;
   object-fit: cover;
}

@media(max-width: 768px) {
   .simpleslider {
      width: 300px;
   }
   .simpleslider img {
      width: 300px;
      height: 200px;
      object-fit: contain;
   }
}